@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

h1 {
  text-shadow: 4px 4px #000;
  -webkit-text-stroke: 1px #000;
  opacity: 1;
  font-size: 3rem;
  color: rgb(255 255 255);
  font-weight: 700;
}

.shadow-section {
  --tw-shadow: #000 6px 6px 0px 0px;
  --tw-shadow-colored: 6px 6px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 2px solid #000;
  border-radius: 0;
}
